.manu_bg{
    background-color: #1C1E53;
    
}

.ami a{
    padding: 0px 20px !important;
    color: #FFFF !important;
    text-decoration: none;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    transition: .5s;
    transform: scale(1);

}

.ami a:hover{
    background-color: #FFFF;
    color: #2C2643 !important;
   
    border-radius: 20px;
    transform: scale(1.2);
    
}

/* .mx-auto{
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    
    gap: 20px;
    
} */
